################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/.vs/ApiGenerator/v15
*.suo
/Source/.vs/config
/Source/Foundation/ApiGenerator/code/obj
*.user
/Source/Foundation/Serialization/code/obj
/Source/node_modules
/Source/packages
/Source/Foundation/ORM/code/obj/Debug
/Source/Foundation/Search/code/obj/Debug
/Source/libraries
/Source/Foundation/ApiGenerator/tests/obj/Debug
/Source/Foundation/Documentation/code/obj/Debug
/Source/Foundation/Documentation/tests/obj/Debug
/Source/Foundation/ORM/code/obj/Release
/Source/Foundation/Search/code/obj/Release
/Source/Foundation/Common/SitecoreMaster.Foundation.Common/obj
