<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="https://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   type="SitecoreMaster.Foundation.ApiGenerator.App_Start.RegisterRoutes, SitecoreMaster.Foundation.ApiGenerator" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>