<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="https://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="SitecoreMaster.Foundation.ApiGenerator.Ioc.Configurator, SitecoreMaster.Foundation.ApiGenerator" />
    </services>
  </sitecore>
</configuration>